<!-- each chat -->
<div class="say-wrapper" id="say_<%= _id %>"
     data-say-id="<%= _id %>" data-date="<%= date %>">
  <div class="gravatar-chat-image left">
    <a href="/user/<%= user._id %>">
      <img src="<%- gravatar_url %>" alt="<% name %>"/>
    </a>
  </div>
  <div class="left-bubble">
    <div class="say">
      <div class="say-header">
        <div class="row">
          <div class="author col-md-6">
            <a href="/user/<%= user._id %>">@<%= name || "unknown"%></a>
          </div>
          <div class="date col-md-6">
            <div class="pull-right">
              <a class="date-sentence" href="/say/<%= _id %>"
                 target="_blank"
                 data-toggle="tooltipbnnn"
                 title="<%= date_str %>">
                <%= date_str %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="say-content">
        <div class="row">
          <div class="col-md-12">
            <div class="markdown">
              <%- markdown %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
