<!-- each chat -->
<div class="say-wrapper" id="say_<%= _id %>"
     data-say-id="<%= _id %>" data-date="<%= date %>">
  <div class="gravatar-chat-image right">
    <a href="/user/<%= user._id %>">
      <img src="<%- gravatar_url %>" alt="<% name %>"/>
    </a>
  </div>
  <div class="right-bubble">
    <div class="say">
      <div class="say-header">
        <div class="row">
          <div class="date col-md-6">
            <a class="date-sentence" href="/say/<%= _id %>"
               data-toggle="tooltipbnnn"
               title="<%= date_str %>">
              <%= date_str %>
            </a>
          </div>
          <div class="author col-md-6">
            <div class="pull-right">
              <a href="/user/<%= user._id %>">@<%= name || "unknown"%></a>
            </div>
          </div>
        </div>
      </div>
      <div class="say-content">
        <div class="row">
          <div class="col-md-12">
            <div class="markdown">
              <%- markdown %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="say-side-icon-area">
  <div class="say-delete-area">
    <button type="button" class="btn btn-default say-delete-button close">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div class="say-edit-area">
    <button type="button" class="btn btn-default say-edit-button close">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
  </div>
</div>
